Checks: [
    clang-analyzer-*,
    bugprone-*,
    -bugprone-suspicious-string-compare, # complains at `if (memcmp(...))` without explicit `!= 0`
    -bugprone-suspicious-memory-comparison, # complains at `memcmp` against C++ structs
    -bugprone-easily-swappable-parameters, # false positives in internal spaghetti functions
    performance-*,
    -performance-enum-size, # only applicable to C++
    portability-*,
    misc-*,
    -misc-definitions-in-headers, # false positives all over
    -misc-use-anonymous-namespace,
    -misc-non-private-member-variables-in-classes,
    cppcoreguidelines-init-variables,
  ]
