ColumnLimit: 100
IndentWidth: 8
ContinuationIndentWidth: 8
UseTab: Always
AlignArrayOfStructures: Left
AlignAfterOpenBracket: false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BreakAfterReturnType: Automatic
PenaltyReturnTypeOnItsOwnLine: 0
BraceWrapping:
  AfterControlStatement: MultiLine
SpaceAfterCStyleCast: false
DerivePointerAlignment: false
PointerAlignment: Left
BinPackArguments: true
BinPackParameters: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AccessModifierOffset: -8
IndentCaseBlocks: false
IndentCaseLabels: false
RemoveBracesLLVM: true
